<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--加载spring的日志配置文件-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <property name="contextName" value="@groupId@:@artifactId@:@version@"/>
    <!--日志能够保存的条数。-->
    <property name="maxHistory" value="100"/>
    <property name="maxFileSize" value="10MB"/>
    <property name="contextFile" value="@groupId@/@artifactId@/@version@"/>
    <property name="logFilePath" value="@logging.file@"/>

    <contextName>${contextName}</contextName>

    <include resource="logback/dxhy-logback.xml" />

    <logger name="org.springframework" level="info"/>
    <logger name="com.dxhy" level="debug"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="process"/>
        <appender-ref ref="error"/>
    </root>
</configuration>